:root {
  /* Custom Palette Colors */
  --color-custom-main: #441e14;
  --color-custom-heading: #9b7c38;
  --color-custom-secondary: #6f6f6f;
  --color-custom-tertiary: #969696;
  --color-custom-dark: #000;
  --color-custom-border: #f6dbe0;
  --color-custom-smallHeading: #2a110a;
  --color-custom-borderInput: #d5b1b8;
  --color-custom-wishlistColor: #f1a8b6;

  /* Primary Colors */
  --color-primary-main: #441e14;
  --color-primary-contrastText: #ffffff;

  /* Background Colors */
  --color-background-default: #f9f9fa;
  --color-background-paper: #ffffff;
  --color-background-image: #ffffff;

  /* Text Colors */
  --color-text-primary: #0f0f10;
  --color-text-secondary: rgba(3, 3, 23, 0.33); /* 03031755 is 0x030317 at 55% alpha */
  --color-text-disabled: rgba(3, 3, 23, 0.21); /* 03031735 is 0x030317 at 35% alpha */

  /* Breakpoints (if you want to use them as variables) */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1536px;

  /* ==========TLT Colors ================== */
  --tltMain: #7b1316;
  --tltSecondary: #d90f13;
  --tltTertiary: #767676;
  --tltDark: #313131;
  --textDarkAlter: #2a2a2a;
  --tltContrastText: #fff;
  --color-primary-dark: #000000;
}

/* Common Classes */
.text-center-lg {
  text-align: center;
}
.mb-20 {
  margin-bottom: 10px;
}

.responsive-fonts {
  font-size: 15px;
}
.heading-main {
  color: var(--color-custom-heading);
  font-size: 25px;
  font-family: var(--font-dubai), sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0;
  margin: 0;
}

/* Home Hero Section */
/*.home-banner-section {
  background-image: url('https://ap-south-1.graphassets.com/cmbta5lm400l901wb51h39wvi/cmcitkne9247407oel27xdbb6');
  background-size: cover;
  background-position: top center;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100%;
}*/
.justin {
  font-weight: 700;
  line-height: 170%;
  color: #302100;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.home-banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  position: absolute;
  top: auto;
  bottom: 30px;
  align-items: center;
  width: 100%;
}

.heading {
  font-family: var(--font-dubai), sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0;
  margin-bottom: 0;
}

.banner-text {
  max-width: 300px;
  color: #302100;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.5;
  margin-top: 0;
  text-align: center;
  margin-bottom: 10px;
}

.home-banner-content .heading {
  color: #302100 !important;
  margin-top: 0;
  text-align: center;
}

.explore-menu-btn {
  display: flex;
  align-items: center;
  column-gap: 8px;
  position: relative;
  font-weight: 500;
  font-size: 15px;
  line-height: 158%;
  letter-spacing: 0%;
  width: fit-content;
  padding: 12px 20px;
  overflow: hidden;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1;
  color: var(--color-custom-main);
  background-color: var(--color-custom-border);
  text-decoration: none;
  transition: all 0.5s ease;
}

.explore-menu-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background-color: var(--color-custom-border);
  border-radius: 4px;
  z-index: -1;
  transition: all 0.5s ease;
}

.explore-menu-btn:hover {
  color: var(--color-background-image);
}

.explore-menu-btn:hover::before {
  background-color: var(--color-custom-heading);
  width: 100%;
}
.explore-menu-btn:hover .arrow-icon {
  transform: translateX(5px);
}
.explore-menu-btn .arrow-icon {
  display: inline-flex;
  transition: transform 0.5s ease;
}

.banner-overlay-gradient {
  backdrop-filter: blur(0px);
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  width: 100%;
  height: 100%;
  max-height: 73px;
  position: absolute;
  top: 64px; /* Default for mobile */
  left: 0;
  pointer-events: none;
  display: none;
}
.sectionThreeWrapper {
  padding-top: 35px;
  display: flex;
  column-gap: 0;
  position: relative;
  flex-direction: column;
  row-gap: 30px;
}
.sectionThreeWrapper .left-content-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.sectionThreeWrapper .left-content-wrapper p {
  margin-bottom: 5px;
}
.left-content-wrapper {
  width: 100%;
}
.left-content-wrapper .heading-main,
.home-section-title {
  text-align: center;
}
.home-section-title {
  padding: 0;
  margin: 0;
}
.left-content-wrapper p {
  color: var(--color-custom-secondary);
  line-height: 170%;
  margin-bottom: 20px;
  text-align: center;
}
.image-wrapper {
  width: 100%;
}
.image-wrapper img {
  max-height: 100%;
  object-fit: cover;
  border-radius: 8px;
  height: 100%;
  width: 100%;
}
.box-content-wrapper .customize-item {
  display: flex;
  column-gap: 25px;
}
.customize-index {
  color: var(--color-custom-border) !important;
  /*padding-top: 26px;
  padding-bottom: 30px;*/
  line-height: 1.2;
  padding-top: 20px;
}
.customize-details {
  position: relative;
  padding-block: 20px;
}
.customize-description {
  color: #6f6f6f;
  font-weight: 400;
  line-height: 170%;
  margin: 0;
}
.customize-details::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background: linear-gradient(90deg, #f1a8b6 0%, #fff 100%);
  transition: all 0.5s ease;
}
.customize-item--last .customize-details::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background: linear-gradient(90deg, #f1a8b6 0%, #fff 100%);
  transition: all 0.5s ease;
}

.customize-title {
  color: #000;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: 0;
}

.home-collection {
  padding-top: 27px;
  position: relative;
  overflow: hidden;
}
.home-collection-grid-container {
  grid-template-columns: 1fr;
  position: relative;
  display: grid;
}
.home-collection-image-wrapper {
  z-index: 99;
  position: relative;
}
.home-collection-image {
  width: 100%;
  border-radius: 8px;
  display: block;
  height: auto;
}

.home-collection-content-box {
  background: rgba(243, 243, 243, 0.83);
  backdrop-filter: blur(5.3px);
  border-radius: 8px;
  padding: 50px 40px 40px;
  text-align: center;
  margin-top: -19px;
  z-index: 99;
  margin-left: auto;
  width: 100%;
}
.home-collection-description {
  color: var(--color-custom-dark);
  font-weight: 400;
  line-height: 174%;
  max-width: 100%;
  margin-bottom: 20px;
  text-align: center;
}
.home-collection-title {
  text-align: center;
}
.collect-btn {
  width: fit-content !important;
  margin-inline: auto;
}
.banner-section-wrapper {
  padding-top: 27px;
}
.banner-section {
  /*.background-image: url('../components/Assets/cta.jpg');*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  position: relative;
  width: 100%;
}
.banner-content {
  position: relative;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 12px;
  padding-left: 20px;
  padding-right: 20px;
}
.banner-content .banner-title {
  color: var(--color-background-image) !important;
  max-width: 585px;
  text-align: center;
}
.banner-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  border-radius: 8px;
}
.order-button {
  padding: 10px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  position: relative;
  font-weight: 500;
  line-height: 158%;
  letter-spacing: 0%;
  overflow: hidden;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1;
  color: #fff;
  transition: color 0.5s ease;
  text-decoration: none;
  border: 1px solid #9b7c38;
  /*background: linear-gradient(90deg, #f6dbe0 0%, #f1a8b6 100%);*/
  width: fit-content;
  background-color: #9b7c38;
}
.order-button:hover {
  background-color: transparent;
}
/*.order-button:hover {
  color: #302100;
  background: linear-gradient(180deg, #f6dbe0 0%, #f1a8b6 100%);
}*/
.left-image-section {
  position: static;
  align-self: start;
  width: 100%;
}
.image-content-wrapper {
  position: relative;
}

.main-image {
  display: none;
  /*object-fit: cover;
  border-radius: 8px;
  height: 100%;
  width: 100%;
  max-height: 400px;*/
}
.overlay-content {
  position: static;
  width: 100%;
}
.overlay-title {
  color: var(--color-custom-heading) !important;
  text-align: center;
  margin-bottom: 3px;
  margin-top: 0;
}
.overlay-description {
  color: var(--color-custom-secondary) !important;
  line-height: 170%;
  font-weight: 400;
  margin-bottom: 12px;
  max-width: 100%;
  text-align: center;
  margin-top: 0;
}
.overlay-content .explore-menu-btn {
  display: none;
}
.expore-btn,
.customCakeBtn {
  width: fit-content !important;
}
.customCakeBtn,
.expore-btn {
  margin-inline: auto;
}
/*----------------------------- About ----------------*/
.about-left-container .heading {
  color: var(--color-custom-heading);
  margin: 0;
}
.about-heading-h2,
.about-responsive-heading {
  font-size: 25px;
  max-width: 100%;
  font-family: var(--font-dubai), sans-serif;
  color: var(--color-custom-heading);
  text-transform: uppercase;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0;
  margin-top: 0;
}
.about-responsive-heading {
  margin-top: 0;
  padding-top: 14px;
  border-top: 1px solid rgba(199, 202, 205, 0.42);
  text-align: center;
}
.about-responsive-heading {
  margin-bottom: 10px;
}
.about-image-wrapper {
  display: none;
}
.about-image {
  border-radius: 8px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.about-image-container img {
  border-radius: 8px;
  height: auto;
  width: 100%;
  object-fit: cover;
}
.about-description {
  color: var(--color-custom-secondary);
  line-height: 170%;
  font-weight: 400;
  margin-top: 0;
  text-align: center;
}
.sectionTwoImageAbout {
  width: 100%;
  height: auto;
  border-radius: 8px;
  position: relative;
}
.clients {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
  justify-items: center;
}
.clients::-webkit-scrollbar {
  display: none;
}
.clients img {
  width: auto;
  height: auto;
  max-width: 70px;
}

.swiper_testi {
  position: relative;
}
.swiper_testi::after {
  background: url('../components/Assets/about/quote.svg') no-repeat center center;
  position: absolute;
  top: -60px;
  width: 110px;
  height: 100px;
  content: '';
  left: 0%;
  z-index: 1;
  background-size: cover;
}
.cta-action::after {
  position: absolute;
  background-image: url('../components/Assets/banner.png');
  content: '';
  top: 30px;
  width: 100%;
  height: 25px;
  left: 0;
  background-size: cover;
  z-index: 1;
  background-position: center center;
  rotate: -2deg;
}
/*----------------------------- Contact ----------------*/
.contactLeftWrapper {
  position: relative;
}
.contactLeftWrapper .left-image-wrapper {
  position: relative;
  z-index: 500;
}
.contactLeftWrapper .left-image-wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}
.contactLeftWrapper .left-content-wrapper {
  padding: 30px 30px 30px;
  background-color: var(--color-custom-border);
  margin-top: -20px;
  border-radius: 8px;
  width: 100% !important;
}
.contactLeftWrapper .left-content-wrapper p {
  text-align: left !important;
}
.contactLeftWrapper .left-content-wrapper .contents .heading {
  margin-top: 0 !important;
}
.left-content-wrapper {
  border-radius: 8px;
}
.left-content-wrapper h2 {
  margin: 0;
}
.left-content-wrapper p {
  margin: 0;
}
.contents {
  border-bottom: 1px solid #f1a8b6;
  padding-bottom: 12px;
}
.left-content-wrapper .contents .heading,
.home-banner-content .heading {
  font-size: 25px;
  color: var(--color-custom-heading);
}
.content-description {
  color: var(--color-custom-secondary);
  line-height: 170%;
  margin-top: 5px;
}
.left-social-wrapper {
  display: flex;
  align-items: start;
  gap: 20px;
  flex-direction: column;
  padding-top: 12px;
}
.social-box {
  display: flex;
  align-items: center;
  gap: 15px;
}
.social-box img {
  width: 20px;
  height: auto;
  object-fit: cover;
  max-width: 45px;
}
.social-box .content {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.social-box .content span,
.social-box .content a {
  color: var(--color-custom-dark);
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
}
.left-svg {
  position: absolute;
  z-index: 500;
  right: 14px;
  top: 40%;
}
.left-svg img {
  height: auto;
  width: auto;
  border-radius: 8px;
  max-height: 130px;
}

/*------- Events ---------*/
.event-top-wrapper {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 14px;
  margin-top: -10px;
}
.event-top-wrapper .heading-main {
  margin-bottom: 2px;
  text-align: left;
  margin-top: 0;
}
.events-dec {
  color: var(--color-custom-secondary);
  text-align: left;
  margin: 0;
}
.events-detail {
  margin-top: 10px;
}

.events-detail p {
  margin: 0;
}
.events-detail img {
  display: inline-block;
}
.events-detail p {
  color: var(--color-custom-secondary);
  line-height: 174%;
  font-size: 15px;
  margin-bottom: 10px;
}
.events-detail h3 {
  color: var(--color-custom-dark);
  font-size: 18px;
  line-height: 120%;
  margin-bottom: 10px;
}
.events-detail h4 {
  color: var(--color-custom-dark);
  font-size: 16px;
  line-height: 120%;
  margin-bottom: 10px;
}
.events-detail ul {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}
.events-detail ul li {
  position: relative;
  padding-left: 20px; /* space for custom bullet */
  /* margin-bottom: 10px;  */
  font-weight: normal;
  color: var(--color-custom-secondary);
  line-height: 174%;
  font-size: 15px;
}

.events-detail ul li::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  height: 5px;
  width: 5px;
  background-color: #f1a8b6;
  border-radius: 50%;
  display: inline-block;
}
.event-mage-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 0;
  row-gap: 10px;
  margin-top: 10px;
}
.event-mage-wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

/*------ Courses ---------*/
.course-top-wrapper {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 10px;
  margin-top: -10px;
}

/*------ Courses Inner ---------*/
.coursesInner p,
ol {
  margin: 0;
}
.coursesInner ol {
  padding-inline: 15px;
}
.coursesInner ol,
.coursesInner ol li,
.coursesInner p {
  color: var(--color-custom-secondary);
  font-size: 15px;
  line-height: 174%;
}

.coursesInner p {
  margin-block: 0px 15px;
}
.sms-page-contets {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  row-gap: 10px;
  padding-bottom: 25px;
}
.sms-page-contets p,
.sms-page-contets ul {
  color: #6f6f6f;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 27.2px */
  margin: 0;
}
.sms-page-contets ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
.sms-page-contets ul li {
  position: relative;
  padding-left: 15px;
}
.sms-page-contets ul li::before {
  content: '';
  position: absolute;
  top: 10px;
  left: -0px;
  height: 5px;
  width: 5px;
  background-color: #f1a8b6;
  border-radius: 50%;
  display: inline-block;
}

/* sm breakpoint */

@media (min-width: 641px) {
  .responsive-fonts,
  .social-box .content span,
  .events-detail p,
  .events-detail ul li,
  .coursesInner ol,
  .coursesInner ol li,
  .coursesInner p,
  .social-box .content a {
    font-size: 15px;
  }
  .left-svg {
    top: 40%;
  }
  .clients {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
  }

  .customize-title {
    font-size: 17px;
  }
  .home-collection {
    padding-top: 35px;
  }
  .banner-section-wrapper {
    padding-top: 35px;
  }
}
.slider_bner {
  display: none;
}
.slider_bner-res {
  display: block;
}
.mb-20 {
  margin-bottom: 15px;
}

/* md breakpoint */
@media (min-width: 769px) {
  .justin {
    margin-bottom: 17px;
  }
  .coursesInner p {
    margin-block: 0px 20px;
  }
  .about-description {
    text-align: left;
  }
  .slider_bner {
    display: block;
  }
  .slider_bner-res {
    display: none;
  }
  .ActionCard-details.mui-style-3k8hts > div {
    font-size: 15px;
  }
  .sms-page-contets {
    margin-top: 15px;
    row-gap: 15px;
    padding-bottom: 35px;
  }
  .sms-page-contets ul li::before {
    top: 13px;
  }
  .clients img {
    max-width: 80px;
  }
  .cta-action::after {
    top: 50px;
    height: 40px;
  }
  .home-section-title {
    text-align: left;
  }
  .about-responsive-heading {
    margin-top: 10px;
    padding-top: 0;
    border-top: none;
    text-align: left;
  }

  .order-button {
    padding: 16px 60px;
  }
  .home-banner-content .heading {
    width: 450px;
  }
  .home-banner-content {
    gap: 17px;
    top: 5%;
    width: fit-content;
    align-items: start;
  }
  .banner-text {
    max-width: 400px;
    font-size: 16px;
    text-align: left;
  }
  .explore-menu-btn {
    font-size: 16px;
    width: 200px;
    padding: 15px 20px;
    background-color: transparent;
  }
  .about-heading-h2,
  .about-responsive-heading {
    font-size: 30px;
    max-width: 250px;
  }

  .about-image-wrapper {
    display: block;
    margin-top: 40px;
  }
  .swiper_testi::after {
    left: 20%;
    width: 150px;
  }
  .banner-section {
    height: 300px;
  }
  .responsive-fonts,
  .coursesInner ol,
  .coursesInner ol li,
  .coursesInner p {
    font-size: 16px;
  }
  .clients {
    column-gap: 30px;
  }
  /*.left-content-wrapper {
    padding: 30px 50px 50px;
    margin-top: -40px;
  }*/
  .contents {
    padding-bottom: 20px;
  }
  .left-social-wrapper {
    align-items: center;
    gap: 28px;
    flex-direction: row;
    padding-top: 20px;
  }
  .social-box {
    gap: 27px;
  }
  .events-detail {
    margin-top: 15px;
  }
  .social-box img {
    width: 30px;
  }
  .social-box .content a {
    font-size: 16px;
  }
  .left-svg {
    right: 28px;
    top: 40%;
  }
  .left-svg img {
    max-height: 200px;
  }
  .left-content-wrapper .contents .heading,
  .heading-main,
  .home-banner-content .heading {
    font-size: 30px;
  }
  .event-top-wrapper {
    padding-bottom: 10px;
  }
  .event-top-wrapper .heading-main,
  .course-top-wrapper .heading-main {
    margin-bottom: 10px;
    text-align: center;
  }
  .events-dec {
    text-align: center;
  }
  .events-detail p {
    margin-bottom: 15px;
  }
  .events-detail p,
  .events-detail ul li {
    font-size: 16px;
  }
  .events-detail h3 {
    font-size: 20px;
  }
  .events-detail h4 {
    font-size: 18px;
  }
  .course-top-wrapper {
    padding-bottom: 25px;
    margin-top: 0px;
  }
  /* .coursesInner p {
    margin-block: 25px 35px;
  } */
  .sectionThreeWrapper {
    padding-top: 40px;
    column-gap: 15px;
  }

  .customize-details {
    padding-block: 24px;
  }
  .customize-index {
    padding-top: 24px;
  }
  .customize-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .home-collection {
    padding-top: 50px;
  }
  .banner-section-wrapper {
    padding-top: 50px;
  }

  .overlay-title {
    margin-bottom: 5px;
  }
  .overlay-description {
    margin-bottom: 15px;
  }
  .sectionThreeWrapper {
    column-gap: 15px;
  }
  .home-banner-content {
    top: 12%;
    bottom: auto;
    gap: 8px;
    align-items: start;
  }
  .home-banner-content .heading {
    text-align: left;
  }
  .mb-20 {
    margin-bottom: 20px;
  }
  .event-mage-wrapper {
    column-gap: 15px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 15px;
  }
}

/* lg breakpoint */

@media (min-width: 1025px) {
  .event-mage-wrapper {
    column-gap: 20px;
  }
  .banner-overlay-gradient {
    top: 79px;
  }
  .home-banner-content {
    align-items: start;
    top: 15%;
  }
  .orderProduct span span:first-child {
    background: url(../components/Assets/aed.svg) 27px center no-repeat;
    background-size: 18px auto;
    color: transparent;
    width: 20px;
  }
  .sms-page-contets {
    margin-top: 20px;
    row-gap: 20px;
    padding-bottom: 50px;
  }
  .main-image {
    max-height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 8px;
    height: 100%;
    width: 100%;
  }
  .clients img {
    max-width: 100px;
  }
  .sectionThreeWrapper .left-content-wrapper {
    row-gap: 15px;
  }
  .cta-action::after {
    top: 90px;
    height: 55px;
  }
  .about-image-wrapper {
    margin-top: 70px;
  }
  .about-responsive-heading {
    display: none;
  }
  .text-center-lg {
    text-align: left;
  }
  .banner-section {
    height: 400px;
  }
  .contents {
    padding-bottom: 25px;
  }
  .left-social-wrapper {
    padding-top: 30px;
  }
  .social-box img {
    width: 45px;
  }
  .social-box .content a {
    font-size: 20px;
  }
  .sectionThreeWrapper .left-content-wrapper p {
    margin-bottom: 7px;
  }
  .left-svg {
    top: 50%;
  }
  .contactLeftWrapper .left-content-wrapper {
    padding: 50px 30px 60px;
  }
  .left-content-wrapper .contents .heading,
  .heading-main,
  .home-banner-content .heading {
    font-size: 40px;
  }
  .event-top-wrapper {
    border-bottom: none;
    padding-bottom: 10px;
  }

  .sectionThreeWrapper {
    padding-top: 65px;
    column-gap: 30px;
    flex-direction: row;
  }
  .left-content-wrapper {
    width: 45%;
  }
  .left-content-wrapper .heading-main,
  .left-content-wrapper p {
    text-align: left;
  }
  .image-wrapper {
    width: 45%;
  }
  .home-collection {
    padding-top: 75px;
  }
  .home-collection-grid-container {
    grid-template-columns: 7fr 5fr;
  }
  .home-collection-content-box {
    padding: 60px 50px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 101;
    margin-top: 0;
    width: 52%;
  }
  .home-collection-title {
    text-align: left;
  }
  .home-collection-description {
    max-width: 465px;
    text-align: left;
  }
  .collect-btn {
    margin-inline: 0;
  }
  .banner-section-wrapper {
    padding-top: 75px;
  }
  .order-button {
    padding: 19px 80px;
  }
  .left-image-section {
    position: sticky;
    top: 50px;
    width: 50%;
  }

  .overlay-content {
    width: 50%;
    top: 63px;
    left: 69px;
    padding-inline: 0;
    position: absolute;
    width: 100%;
  }
  .overlay-title {
    /*margin-bottom: 8px;*/
    text-align: left;
    color: var(--color-custom-main) !important;
    max-width: 500px;
  }
  .overlay-description {
    text-align: left;
    max-width: 500px;
    color: var(--color-custom-main) !important;
  }
  .overlay-content .explore-menu-btn {
    display: inline-flex;
  }
  .sectionThreeWrapper {
    column-gap: 30px;
  }
  .customCakeBtn,
  .expore-btn {
    margin-inline: 0;
  }

  .mb-20 {
  }
}

/* Extra Large breakpoint */
@media (min-width: 1536px) {
  .clients {
    column-gap: 40px;
  }
  .home-banner-content {
    align-items: start;
    top: 20%;
  }
  .left-svg img {
    max-height: 300px;
  }
  .left-content-wrapper .contents .heading,
  .home-banner-content .heading {
    font-size: 45px;
  }

  .home-collection-content-box {
    padding: 100px 88px;
  }
  .home-collection-description {
    margin-bottom: 25px;
    margin-top: 16px;
  }
  .left-image-section {
    width: 41.666667%;
  }
  .overlay-title {
    max-width: 500px;
  }
  .overlay-description {
    margin-bottom: 20px;
    max-width: 350px;
  }
}

/*----- Footer -----*/
.footer-wrapper {
  background-color: #f6f6f6;
  padding-top: 30px;
  padding-bottom: 80px;
}

.top-wrapper {
  display: flex;
  column-gap: 20px;
  justify-content: start;
  padding-bottom: 20px;
  border-bottom: 1px solid #d8d8d8;
  flex-direction: column;
}
.left-wrapper img {
  width: 100%;
  margin-bottom: 5px;
  max-width: 180px;
}
.left-wrapper .footer-social {
  display: none;
}
.footer-social {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.footer-social a {
  background-color: var(--color-custom-border);
  text-decoration: none;
  padding: 9px 17px;
  border-radius: 999px;
  color: var(--color-custom-main);
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 46px;
}
.footer-social a img {
  width: 20px;
  height: auto;
  vertical-align: center;
  position: relative;
  top: 0px;
}
.footer-social .google {
  margin-top: 0;
}
.footer-accordion-item {
  border-bottom: 1px solid #c5c5c5;
}
/*.footer-accordions-container > .footer-accordion-item:first-child {
  border-top: 1px solid #c5c5c5;
}*/
.footer-accordion-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin: 12px 0;
}
.footer-accordion-title {
  color: #2a110a;
  font-size: 15px;
  font-weight: 700;
  line-height: 33px;
}
.footer-accordion-summary .accordion-icon {
  color: #2a110a;
}
.footer-accordion-summary .accordion-icon svg:first-child {
  display: none;
}

.footer-accordion-summary.is-expanded .accordion-icon svg:first-child {
  display: block;
}
.footer-accordion-summary.is-expanded .accordion-icon svg:last-child {
  display: none;
}
.footer-accordion-details {
  /*padding: 8px 0 10px;*/
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.footer-accordion-details.is-expanded {
  max-height: 500px;
  transition: max-height 0.3s ease-in;
}

.footer-link a,
.footer-phone-link {
  color: #2a110a;
  font-size: 16px;
  font-weight: 400;
  line-height: 33px;
  text-decoration: none;
  font-family: var(--font-dubai), sans-serif;
  padding: 0 0 10px 0;
}
.footer-link {
  padding: 0;
}
.footer-link.last {
  padding-bottom: 5px !important;
}
.footer-accordion-details .footer-add {
  display: flex;
  align-items: center;
  padding: 0 0 5px 0 !important;
  column-gap: 5px;
}

.footer-address {
  color: #2a110a;
  font-family: var(--font-dubai), sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 33px;
  margin: 0;
}

.footer-view-map-btn {
  font-family: var(--font-dubai), sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 31px;
  color: #9b7c38;
  border: 1px solid #9b7c38;
  border-radius: 50px;
  padding: 5px 20px;
  display: inline-flex;
  align-items: center;
  column-gap: 10px;
  width: fit-content;
  text-decoration: none;
  margin-top: 15px;
  margin-bottom: 15px;
}
.footer-accordion-mobile {
  display: block;
}
.footer_links-desktop {
  display: none;
}
.footerlinks-heading {
  font-size: 20px;
  color: #2a110a;
  line-height: 33px;
  margin-bottom: 5px;
  margin-top: 0;
  font-weight: 700;
}
.footer_links {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer_links a {
  text-decoration: none;
  color: #2a110a;
  font-size: 16px;
  font-weight: 400;
  line-height: 33px;
}
.newsletter {
  margin-top: 10px;
}
.newsletter .sub {
  margin-top: 0;
  color: #2a110a;
  font-size: 15px;
  font-weight: 700;
  line-height: 33px;
  margin-bottom: 0;
  text-align: center;
}
.newsletter .desc {
  color: #2a110a;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  max-width: 100%;
  text-align: center;
  margin: 0;
}
.email-input-wrapper {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-inline: auto;
  max-width: 100%;
}
.email-input-control {
  border: 1px solid #9b7c38;
  box-shadow: none;
  border-radius: 8px;
  outline: none;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
}
.email-input-field {
  color: #302100;
  font-size: 15px;
  padding: 15px 14px;
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
}
.email-input-field::placeholder {
  color: #302100;
  opacity: 1;
}

.email-input-control:focus-within {
  border: 1px solid #9b7c38;
  box-shadow: none;
  outline: none;
}
.email-input-control:hover {
  border: 1px solid #f1a8b6;
}
.inputs-adornment {
  display: flex;
  align-items: center;
  height: 100%;
}
.send-button {
  background-color: #9b7c38;
  padding: 14px 20px;
  margin-right: 0;
  border-radius: 0 8px 8px 0;
  overflow: hidden;
  height: 100%;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.send-button:hover {
  background-color: #f1a8b6;
}
.send-icon {
  width: 20px;
  height: auto;
  vertical-align: middle;
}
.footer-social-wrapper {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
}
.footer-locations {
  display: flex;
  justify-content: start;
  padding-block: 0 15px;
  flex-direction: column;
}
/*.footer-accord-loc {
  border-bottom: 1px solid #c5c5c5;
}*/
.footer_location {
  flex-direction: column;
  /*gap: 15px;*/
  display: none;
}
.footer_location .location {
  color: #2a110a;
  font-size: 20px;
  font-weight: 700;
  line-height: 33px;
  margin: 0;
}
.detail-wrapper .details {
  min-height: 100px;
}
.mobile {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.address,
.mobile {
  color: #2a110a;
  font-size: 16px;
  font-weight: 400;
  line-height: 33px;
  max-width: 310px;
  margin: 0;
}
.phone-icon {
  width: 18px;
  height: auto;
}
.map {
  font-size: 16px;
  font-weight: 400;
  line-height: 31px;
  color: #9b7c38;
  border: 1px solid #9b7c38;
  border-radius: 50px;
  padding: 7px 20px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: fit-content;
  text-decoration: none;
  margin-top: 15px;
}
.map img,
.footer-view-map-btn img {
  width: 20px;
}
.footer-bottom {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-block: 16px;
  flex-direction: column;
}
.wrapper--left {
  display: flex;
  gap: 5px;
  align-items: center;
  flex-direction: column;
}
.wrapper--left .content {
  color: #333;
  font-weight: 400;
  line-height: 205.5%;
  font-size: 15px;
  margin: 0;
}
.wrapper--left .cards-image {
  display: flex;
  gap: 13px;
  align-items: center;
}
.wrapper--left .cards-image img {
  width: 35px;
  height: auto;
}
.bottom-right {
  font-weight: 400;
  line-height: 205.5%;
  font-size: 15px;
  color: #000;
  text-decoration: none;
  text-align: center;
  margin-top: 5px;
}
.bottom-right a {
  text-decoration: none;
  color: inherit;
}

.OrderCard-orderMoney span span:first-child {
  background: url(../components/Assets/aed.svg) 17px center no-repeat;
  background-size: 18px auto;
  color: transparent;
  width: 20px;
}
.orderProduct span span:first-child {
  background: url(../components/Assets/aed.svg) 2px center no-repeat;
  background-size: 25px auto;
  color: transparent;
  width: 32px;
  display: inline-block;
}
.OrderItem-itemPrice span span:first-child,
.OrderItem-rowPrice span span:first-child,
.OrderTotals-totalsRow span span:first-child {
  background: url(../components/Assets/aed.svg) 17px center no-repeat;
  background-size: 18px auto;
  color: transparent;
  width: 20px;
}
.ActionCard-action .MuiBox-root span span:first-child {
  background: url(../components/Assets/aed.svg) 0px no-repeat;
  background-size: 18px auto;
  color: transparent !important;
  width: 20px;
  display: inline-block;
}
.ActionCard-price span span:first-child {
  background: url(../components/Assets/aed.svg) 25px no-repeat;
  background-size: 18px auto;
  color: transparent !important;
  width: 20px;
}
.CartTotals-costsRow .CartTotals-money span span:first-child {
  background: url(../components/Assets/aed.svg) 0px 5px no-repeat;
  background-size: 17px auto;
  color: transparent !important;
  width: 20px;
  display: inline-block;
}
.CartTotals-root .MuiBox-root .CartTotals-money.discount span span:nth-child(2) {
  background: url(../components/Assets/aed.svg) 0px 5px no-repeat;
  background-size: 17px auto;
  color: transparent !important;
  width: 20px;
  display: inline-block;
}

.CartTotals-root .cart-bottom-bottom-right-price span span:first-child {
  background: url(../components/Assets/aed.svg) 0px 9px no-repeat;
  background-size: 17px auto;
  color: transparent !important;
  width: 20px;
  display: inline-block;
}

.adsOn span span:nth-child(1) {
  background: url(../components/Assets/aed.svg) 2px no-repeat;
  background-size: 18px auto;
  color: transparent !important;
  width: 20px;
  display: inline-block;
}
.MuiSlider-valueLabelLabel span span:first-child {
  background: url(../components/Assets/aed.svg) 0px no-repeat;
  background-size: 18px auto;
  color: transparent !important;
  width: 20px;
  display: inline-block;
}
.priceSliderRange span span:first-child {
  background: url(../components/Assets/aed.svg) 0px no-repeat;
  background-size: 18px auto;
  color: transparent !important;
  width: 20px;
  display: inline-block;
}
.priceSliderRange span span:nth-child(4),
.priceSliderRange span span:nth-child(5) {
  display: none;
}
.MuiLoadingButton-loadingIndicatorCenter {
  color: '#D5B1B8 !important';
}
.mui-style-151k9o2-MuiSlider-root .MuiSlider-thumb[data-index='0'] .MuiSlider-valueLabelOpen {
  transform: translate(10px, 40%);
}
.ActionCard-details.mui-style-3k8hts {
  display: inline-block !important;
  vertical-align: top;
  width: 100%;
}
.ActionCard-details.mui-style-3k8hts > div {
  display: inline-block !important;
  vertical-align: top;
  font-size: 15px;
  padding-right: 5px;
  padding-bottom: 2px;
}
.ActionCard-details.mui-style-3k8hts > div:nth-child(3) {
  width: 100%;
}
/* sm breakpoint */

@media (min-width: 641px) {
  .email-input-wrapper {
    margin-top: 15px;
  }
}
/* Medium Screens */
@media (min-width: 769px) {
  .footer-wrapper {
    padding-top: 40px;
  }
  .top-wrapper {
    padding-bottom: 30px;
  }
  .left-wrapper img {
    max-width: 250px;
  }
  .footer-social a img {
    width: 25px;
  }
  .footer-accordion-title,
  .bottom-right {
    font-size: 16px;
  }
  .newsletter .sub,
  .newsletter .desc {
    font-size: 16px;
  }
  .email-input-wrapper {
    max-width: 500px;
  }
  .email-input-field {
    font-size: 16px;
    padding: 20px 14px;
  }
  .send-button {
    padding: 17px 20px;
  }
  .send-icon {
    width: 24px;
  }
  .footer-locations {
    padding-block: 10px 25px 0;
  }
  .wrapper--left {
    gap: 13px;
  }
  .wrapper--left .content {
    font-size: 16px;
  }
  .wrapper--left .cards-image img {
    width: 40px;
  }
  .footer-view-map-btn {
    padding: 8px 25px;
  }
}

/* Large Screens */
@media (min-width: 1025px) {
  .footer-wrapper {
    padding-top: 50px;
    padding-bottom: 0;
  }
  .top-wrapper {
    justify-content: space-between;
    padding-bottom: 40px;
    flex-direction: row;
  }
  .left-wrapper img {
    max-width: 100%;
    margin-bottom: 25px;
  }
  .left-wrapper .footer-social {
    display: block;
  }
  .footer-social a {
    padding: 0 17px;
  }
  .footer-social a img {
    width: 25px;
    top: 13px;
  }
  .footer-social .google {
    margin-top: 9px;
  }
  .footer-accordion-mobile {
    display: none;
  }
  .footer_links-desktop {
    display: block;
  }
  .newsletter {
    margin-top: 0;
  }
  .newsletter .sub {
    font-size: 20px;
    margin-bottom: 5px;
    text-align: left;
  }
  .newsletter .desc {
    line-height: 31px;
    max-width: 320px;
    text-align: left;
  }
  .email-input-wrapper {
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: 25px;
    margin-inline: 0;
  }
  .mobile-social-wrapper {
    display: none;
  }
  .footer-locations {
    padding-block: 45px;
    justify-content: space-between;
    border-bottom: 1px solid #d8d8d8;
    flex-direction: row;
  }
  .footer-bottom {
    justify-content: space-between;
    flex-direction: row;
  }
  .wrapper--left {
    gap: 23px;
    flex-direction: row;
  }
  .bottom-right {
    text-align: left;
    margin-top: 0;
  }
  .footer-view-map-btn {
    margin-bottom: 0;
  }
  .footer_location {
    display: flex;
  }
  .send-button {
    padding: 18px 20px;
  }
}

/*Extra  Large Screens */
@media (min-width: 1536px) {
  .footer-wrapper {
    padding-top: 65px;
  }
}
@media (min-width: 550px) {
  .clients {
    justify-content: center;
  }
}
.MuiSlider-valueLabelLabel,
.mui-style-1yfomfv-MuiSlider-root .MuiSlider-valueLabel {
  color: black !important;
}
.google-desk {
  width: 20px !important;
}

input:-webkit-autofill {
  background-color: white !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #441e14 !important;
}
/* Hide the number input arrows for WebKit browsers (Chrome, Safari) */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the number input arrows for Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
.MuiLoadingButton-loading {
  color: #2a110a !important;
}

@media (max-width: 768px) {
  .ProductListItem-titleContainer .mui-style-102irip {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .ProductListItem-titleContainer .ProductListPrice-root {
    position: absolute;
    bottom: -3px;
    left: -4px;
  }
  .ProductListItem-titleContainer .ProductListItem-title {
    min-height: auto;
    padding-bottom: 43px;
  }
  .ActionCard-secondaryAction .MuiBox-root span span:first-child {
    background: url(../components/Assets/aed.svg) 0px no-repeat;
    background-size: 18px auto;
    color: transparent !important;
    width: 20px;
    display: inline-block;
  }
}
.Mui-disabled {
  color: #f6dbe0;
}

.send-button.is-disabled {
  cursor: not-allowed;
}

/* ========================================================================== */

/* TLT CSS */

/* === Common Clases === */

.container-wrapper {
  padding-inline: 13px;
}
.main-heading {
  background: linear-gradient(90deg, #2d2d2d 0%, #b4001a 70.88%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  width: fit-content;
  margin: 0;
}
.main-heading-2 {
  background: linear-gradient(90deg, #2d2d2d 0%, #d0011f 15%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  width: fit-content;
  margin: 0;
}

/* === Marquee Amimation === */
.marquee-text {
  overflow: clip;
}

.marquee-text-track {
  display: flex;
  padding-left: 4.8rem;
  gap: 4.8rem;
  width: max-content;
  animation: marquee-move-text var(--speed, 30s) linear infinite var(--direction, forwards);
}

.marquee-text p {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 16px;
}

/*=============  Home ================ */

.banner-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.banner-image-container {
  position: relative;
}
.banner-image-container img {
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  /* height: auto; */
}
.banner-cta-wrapper {
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.89);
  backdrop-filter: blur(3.9000000953674316px);
  padding-block: 13px;
  padding-inline: 20px 15px;

  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
}
.banner-cta-wrapper > div {
  display: flex;
  justify-content: space-between;
}
.banner-cta-content h6 {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  margin: 0;
}
.banner-cta-content p {
  color: #070707;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin: 0;
}

/* sectionTwo */
.offer-container-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 25px;
  margin-top: 35px;
}
.offer-container {
  border-radius: 3px;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  background: var(--tltSecondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.offer-container p {
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-block: 10px;
  padding-inline: 25px;
  margin: 0;
  transition: all 0.4s ease-in-out;
}
.offer-container img {
  width: 100%;
  height: 100%;
  transition: all 0.6s ease-in-out;
}
.offer-container:hover {
  border: 1px solid var(--tltSecondary);
  background: transparent;
}
.offer-container:hover p {
  color: var(--tltSecondary);
  transform: translateY(5px);
}
.offer-container:hover img {
  transform: scale(0.95);
  border-radius: 3px;
}

/* Section Three */
.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Section Four */
.gradient-border {
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(230deg, #000000 4.01%, #ff7300 82.77%);
  border-image-slice: 1;
  clip-path: inset(0 round 3px);
}

.gradient-border2 {
  position: relative;
  border-radius: 6px;
}

.gradient-border2::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 3px;
  padding: 1px;
  background: linear-gradient(80deg, #d90f13 80.01%, #73080a 24.77%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.swiper-top-pick-prev,
.swiper-top-pick-next {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  color: var(--tltMain);
  font-size: 30px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #e8e8e8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

/* unlock section */
.unlock-title {
  color: #fff;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #b4001a;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  flex-shrink: 0;
  position: absolute;
  bottom: -10px;
  transform: rotate(-3.937deg) translateX(-50%);
  left: 50%;
  text-align: center;
}

/* Home Cta */
.home-cta-wrapper {
  margin-block: 60px;
  position: relative;
}
.home-cta-wrapper img {
  width: 100%;
  height: auto;
  border-radius: 3px;
}
.home-cta-wrapper > div {
  position: absolute;
  right: 13%;
  top: 50%;
  transform: translateY(-50%);
  max-width: 500px;
}
.home-cta-wrapper p {
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 48px */
  text-transform: uppercase;
  margin: 0;
}
/* ============== Prodcut Item ============== */
.product-title {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 132%;
}
.ProductListPrice-discountPrice span {
  color: #ccc;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 5px;
}
.ProductListPrice-discountPrice span span:first-child {
  background: url(../components/TLTComponents/assets/discount_aed.svg) 0px no-repeat;
  background-size: 13px auto;
  color: transparent !important;
  width: 20px;
  display: inline-block;
}
.ProductListPrice-discountPrice::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  background-color: var(--tltSecondary);
  rotate: 6deg;
}
.ProductListPrice-finalPrice {
  color: #000;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.ProductListPrice-finalPrice span {
  display: flex;
}
.ProductListPrice-finalPrice span span:first-child {
  background: url(../components/Assets/aed.svg) no-repeat;
  background-size: 20px auto;
  color: transparent;
  background-position: -2px center;
  width: 20px;
  display: inline-block;
}
.discount-per {
  color: #00b10c;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
}
.addTocartText {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 16.8px */
  text-transform: uppercase;
  margin-inline: auto;
}
.empty {
  height: 32px;
}

/* ====================  Link Buttons ============================ */
.linkButton {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
  background-color: var(--tltSecondary);
  padding: 5px 20px;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
  width: fit-content;
  display: block;
}
.linkButton:hover {
  transform: scale(1.05);
}
.linkButton span {
  z-index: 2;
  position: relative;
}

.viewallBtn {
  color: #000;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 3px;
  background: #f5f5f5;
  padding: 5px 20px;
  border: 1px solid #f5f5f5;
  transition: all 0.4s ease-in-out;
}
.viewallBtn:hover {
  background: transparent;
  color: var(--tltSecondary);
}

/* ================ Footer ================  */
.footer-wrapper {
  background: #000;
  color: #eaeaea;
  padding-top: 60px;
  padding-bottom: 30px;
}
.footer-wrapper ul {
  list-style: none;
  padding: 0;
}
.footer-top-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.footer-top-col-left {
  grid-column: span 4;
  border-right: 1px solid #7779805c;
}
.footer-top-col-right {
  grid-column: span 8;
}
.footer-top-col-right .desktop-links-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  padding-left: 50px;
  border-bottom: 1px solid #7779805c;
  padding-bottom: 30px;
}

/* DesktiopLocations */
.descktopLocations {
  margin-top: 40px;
}
.footer-headings h6 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}
.descktopLocations ul,
.desktop-links ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.desktop-links ul li a {
  text-decoration: none;
  color: #eaeaea;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.4s ease-in-out;
}
.descktopLocations ul li a {
  border-radius: 50px;
  background: #262626;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180.912%;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 13px 25px;
  width: fit-content;
  column-gap: 10px;
  border: 1px solid #262626;
  transition: all 0.4s ease-in-out;
  margin-bottom: 5px;
}
.descktopLocations ul li a img {
  transition: all 0.4s ease-in-out;
}

.footer_contact-desktop {
  padding-left: 50px;
  padding-top: 26px;
  padding-bottom: 40px;
  display: flex;
  column-gap: 60px;
}
.follow-desk ul {
  display: flex;
  column-gap: 20px;
  align-items: center;
}
.desktop-contact-wrapper {
  display: flex;
  column-gap: 40px;
  margin-top: 10px;
}
.desktop-contact-wrapper a {
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 187%;
  transition: all 0.4s ease-in-out;
}
.footer-sperator {
  width: 100%;
  height: 1px;
  background: #7779805c;
}

/* Footer Marqueee */
.footer-marquee-wrapper {
  padding-block: 12px;
  white-space: nowrap;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  border-bottom: 1px solid #7779805c;
}
.mq-text-wrapper {
  width: 100%;
  color: #9c9da2;
}
.mq-text {
  overflow: clip;
}
.mq-text p {
  color: #9c9da2;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin: 0;
  column-gap: 10px;
}
.mq-text-tracks {
  display: flex;
  padding-left: 4.8rem;
  gap: 15px;
  width: max-content;
  white-space: nowrap;
  animation: marquee-move-text var(--speed, 30s) linear infinite var(--direction, forwards);
}

/* Copyright */
.footer-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}
.footer-copyright p {
  color: #9c9da2;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 225%;
}
.backToTop {
  text-align: right;
  cursor: pointer;
}

/* ====== sideBars (wishlist, cart) */
.sidebar-wrapper {
  padding-inline: 50px;
}
.wishlist_card_price span {
  font-family: 'Inter', sans-serif;
  color: var(--color-primary-dark);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.wishlist_card_price span span:first-child {
  background: url(../components/Assets/aed.svg) 0px no-repeat;
  background-size: 25px auto;
  color: transparent !important;
  width: 30px;
  display: inline-block;
}

/* ==== Cart ===== */
.cart-bottom-top-left-heading {
  font-size: 18px;
  font-weight: 400;
  line-height: 166%;
  color: var(--textDarkAlter);
}
.cart-bottom-top-right-price span span {
  color: var(--textDarkAlter);
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 166%;
}
.cart-bottom-bottom-left-heading {
  color: #2d2d2d;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 159%;
  color: var(--textDarkAlter);
  text-transform: capitalize;
}

.cart-bottom-bottom-right-price span span {
  color: var(--textDarkAlter);
  color: #2d2d2d;
  text-align: right;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 159%;
}
.cart_buttons {
  border-radius: 3px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  font-weight: 700;
  line-height: 120%;
  width: 100%;
  transition: all 0.4s ease-in-out;
  padding-block: 17px;
}

/* ========= Checkout =========== */
.checkout-headings {
  background: linear-gradient(90deg, #2d2d2d 0%, #b4001a 42.27%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  font-size: 25px;
  font-weight: 700;
  line-height: 120%;
}

/* Checkout Popup */

.pop-title,
.pop-title2 {
  background: linear-gradient(90deg, #2d2d2d 0%, #b4001a 42.27%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  margin: 0;
  font-size: 25px;
  font-style: normal;
  line-height: 175%; /* 43.75px */
}
.content-wrapper {
  height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-right: 20px;
}
.content-wrapper::-webkit-scrollbar {
  width: 4px;
  border-radius: 0;
  /* background-color: #ededed; */
  background: linear-gradient(90deg, #b4001a 0%, #4e000b 100%);
}
.content-wrapper::-webkit-scrollbar-track {
  background-color: #ededed;
  border-radius: 0px;
}
.content-wrapper::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #b4001a 0%, #4e000b 100%);
  border-radius: 0px;
}
.processing {
  color: #2d2d2d;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin: 0;
  padding-top: 15px;
  border-bottom: 1px solid #cbcbcb;
  padding-bottom: 20px;
}
.content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.content p {
  margin: 0;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 127%; /* 25.4px */
}

/* ==== Privacy Policy===== */
.privacy_wrapper {
  margin-top: 65px;
  margin-bottom: 75px;
}
.privacy_wrapper h1 {
  margin: 0 auto;
  margin-bottom: 20px;
}
.privacy_content p {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 134%; /* 24.12px */
  margin: 0;
}
.privacy_content p:not(:last-child) {
  margin-bottom: 20px;
}
.privacy_content h5 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 128%; /* 25.6px */
  margin: 0;
  margin-top: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

/* ==== Locations ==== */
.location-wrapper {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.location-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid #bfbfbf;
  overflow: hidden;
  border-radius: 3px;
}
.location-box img {
  width: 100%;
}

.location-details-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.location_content {
  padding-inline: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  margin-top: auto;
  margin-bottom: auto;
}

.location_content h2 {
  margin: 0;
  color: #d90f13;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 128%; /* 38.4px */
}
.location_content ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}
.location_content ul li {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 134%; /* 24.12px */
  margin-bottom: 3px;
}
.location_dir_link {
  background: linear-gradient(90deg, #d90f13 0%, #7b1316 100%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 55px;
  padding-right: 35px;
  padding-block: 25px;
  margin-top: auto;
}

.location_dir_link span {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 159%; /* 31.8px */
  text-decoration: none;
}
.location_dir_link img {
  transition: all 0.4s ease-in-out;
  max-width: 25px;
}

.location_dir_link:hover img {
  rotate: -45deg;
}

/* ===== Faq ===== */
.faq_accordion-item {
  border-bottom: 1px solid #8f8f8f;
}
.faq_detail-wrapper {
  border-bottom: 1px solid #8f8f8f;
}
.faq_accordion-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin: 12px 0;
}
.faq_accordion-title,
.faq_detail-title {
  margin: 0;
  color: #d90f13;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 159%; /* 39.75px */
}
.faq_accordion-summary .faq_accordion-icon {
  color: #b4001a;
}
.faq_accordion-summary .faq_accordion-icon svg:first-child {
  display: none;
}
.faq_accordion-summary.is-expanded .faq_accordion-icon svg:first-child {
  display: block;
}
.faq_accordion-summary.is-expanded .faq_accordion-icon svg:last-child {
  display: none;
}
.faq_accordion_details {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.secondDetaiil {
  margin-top: 20px;
}

.faq_details {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}
.faq_accordion_details p,
.faq_details p {
  margin: 0;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 132%; /* 23.76px */
}
.faq_accordion_details p:last-child,
.faq_details p:last-child {
  padding-bottom: 30px;
}
.faq_accordion_details.is-expanded {
  max-height: 500px;
  transition: max-height 0.3s ease-in;
}

/* ===== About ==== */
.about-wrapper {
  position: relative;
}
.about-wrapper .main_image {
  width: 100%;
}
.ironManImage {
  position: absolute;
  right: -20%;
  top: 10px;
  max-width: 900px;
}
.about-wrapper h1 {
  margin-top: 30px;
}
.about_content-container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about_content {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  gap: 15px;
}
.about_content p {
  color: #000;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 134%;
  margin: 0;
}
.about_content-container img {
  margin-block: 50px;
  border-radius: 3px;
  margin-inline: 50px;
  overflow: hidden;
}

/* ==== prodcut Details Page  */
.we_offer_box_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin-bottom: 12px;
}
.we_offer_box {
  border-radius: 3px;
  background: #f5f6f9;
  display: flex;
  align-items: center;
  column-gap: 20px;
  padding: 15px;
  border: 1px solid #f5f6f9;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.we_offer_box_content h5 {
  color: #d90f13;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 114%; /* 20.52px */
  margin: 0;
}
.we_offer_box_content p {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 127%; /* 17.78px */
  margin: 0;
  margin-top: 5px;
}
.we_offer_box_full .we_offer_box_content {
  display: flex;
  gap: 14px;
}
.we_offer_box_full .we_offer_box_content p {
  font-weight: 400;
  margin-top: 0;
}
.we_offer_box:hover {
  border: 1px solid #d90f13;
}

/* ====== refund form page  ====== */

/* ====== Animations ========== */

.desktop-links ul li a:hover,
.desktop-contact-wrapper a:hover {
  color: var(--tltSecondary);
}
.descktopLocations ul li a:hover {
  border: 1px solid var(--tltSecondary);
}
.descktopLocations ul li a:hover img {
  transform: translateX(5px);
}

@keyframes marquee-move-text {
  to {
    transform: translateX(-50%);
  }
}

.wrapper {
  width: 100%;
  color: #fff;
}

/* ====== Responsive Css */

/* Mobile Screen */
@media (min-width: 641px) {
  .container-wrapper {
    padding-inline: 18px;
  }
}

/* Tablet Screens */
@media (min-width: 769px) {
  .container-wrapper {
    padding-inline: 25px;
  }
}

/* Laptop and desktop screens */
@media (min-width: 1025px) {
  .container-wrapper {
    padding-inline: 40px;
  }
}

/* Extra Large Screens */
@media (min-width: 1536px) {
  .container-wrapper {
    padding-inline: 55px;
  }
}
